In [2]:
# Dependencies
import requests
from config import api_key
import pandas as pd
from pprint import pprint
from datetime import datetime

In [8]:
url = f"https://min-api.cryptocompare.com/data/v2/histohour?fsym=USDT&tsym=USD&limit=2000&toTs=-1&api_key={api_key}"
r = requests.get(url)
data = r.json()

In [9]:
df = pd.DataFrame(data['Data']['Data'])
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1636538400,1.004,0.9981,1.0000,574.66,574.79,1.0000,invert_divide,BTC
1,1636542000,1.005,0.9999,1.0000,762.63,762.58,0.9999,invert_divide,BTC
2,1636545600,1.008,0.9982,0.9999,1055.99,1055.95,1.0000,invert_divide,BTC
3,1636549200,1.000,0.9717,1.0000,3776.71,3777.46,1.0000,invert_divide,BTC
4,1636552800,1.009,0.9935,1.0000,5081.25,5083.33,1.0000,invert_divide,BTC

In [10]:
df.to_csv("Tesladata.csv")